apiVersion: v1
kind: Service
metadata:
  name: quiz-ui
  namespace: quiz-app
spec:
  selector:
    app: quiz-ui
    rel: stable
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
